.details-container{
    width: 1321px;
height: 550px;
/* background-color: antiquewhite; */
}
.details-card{
    width: 424px;
    height: 461px;
    
    
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.1) 0%, rgba(152, 115, 255, 0.1) 100%);
    border-radius: 8px;
}
.bold-text{
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    

    
    color: #474747;
}
.thin-text{
    font-weight: 500;
font-size: 16px;
line-height: 32px;
color: #757575;
}