.job-card {
  width: 648px;
  height: 392px;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
}
.job-name {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */

  /* Dark 02 */

  color: #474747;
}

.job-company {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;

  /* Dark 03 */

  color: #757575;
}
.job-card img p button h2 .job-name {
  margin-left: 40px;
}
.job-name,
.job-img,
.job-company,
.job-type,

.job-btn {
  margin-left: 40px;
  
}
.job-type {
  margin-top: 20px;
  margin-bottom: 20px;
  /* background-color: red; */
  width: 109px;
  height: 40px;
  border: 1px solid #7e90fe;
  border-radius: 8px;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
}
